---

---

<section class="xl:grid grid-cols-4">
  <div class="p-3">
    <img src="public/lomo-smena-17.jpg" alt="" class="col-span-1 max-w-70" />
  </div>
  <div class="p-3">
    <img src="public/lomo-smena-17.jpg" alt="" class="col-span-1 max-w-70" />
  </div>
  <div class="p-3">
    <img src="public/lomo-smena-17.jpg" alt="" class="col-span-1 max-w-70" />
  </div>

  <div class="p-3">
    <img src="public/lomo-smena-17.jpg" alt="" class="col-span-1 max-w-70" />
  </div>
  <div class="p-3">
    <img src="public/lomo-smena-17.jpg" alt="" class="col-span-1 max-w-70" />
  </div>
  <div class="p-3">
    <img src="public/lomo-smena-17.jpg" alt="" class="col-span-1 max-w-70" />
  </div>
  <div class="p-3">
    <img src="public/lomo-smena-17.jpg" alt="" class="col-span-1 max-w-70" />
  </div>

  <div class="p-3">
    <img src="public/lomo-smena-17.jpg" alt="" class="col-span-1 max-w-70" />
  </div>
  <div class="p-3">
    <img src="public/lomo-smena-17.jpg" alt="" class="col-span-1 max-w-70" />
  </div>
  <div class="p-3">
    <img src="public/lomo-smena-17.jpg" alt="" class="col-span-1 max-w-70" />
  </div>
  <div class="p-3">
    <img src="public/lomo-smena-17.jpg" alt="" class="col-span-1 max-w-70" />
  </div>

  <div class="p-3">
    <img src="public/lomo-smena-17.jpg" alt="" class="col-span-1 max-w-70" />
  </div>
</section>
