---

---

<h2 class="text-4xl font-bold py-3 px-4 mx-6 pt-10">Billede fra bogen</h2>
<section class="xl:grid grid-cols-4">
  <div class="p-3">
    <img
      src="public/lomo-smena-17.jpg"
      alt=""
      class="w-full aspect-[2/2] object-cover"
    />
  </div>
  <div class="p-3">
    <img
      src="public/agfa-genanvendeligt-kamera-35mm-5.jpg"
      alt=""
      class="w-full aspect-[2/2] object-cover"
    />
  </div>
  <div class="p-3">
    <img
      src="public/agfa-genanvendeligt-kamera-35mm-8.jpg"
      alt=""
      class="w-full aspect-[2/2] object-cover"
    />
  </div>

  <div class="p-3">
    <img
      src="public/agfa-genanvendeligt-kamera-35mm-11.jpg"
      alt=""
      class="w-full aspect-[2/2] object-cover"
    />
  </div>
  <div class="p-3">
    <img
      src="public/agfa-genanvendeligt-kamera-35mm-film-2-5.jpg"
      alt=""
      class="w-full aspect-[2/2] object-cover"
    />
  </div>
  <div class="p-3">
    <img
      src="public/agfa-genanvendeligt-kamera-35mm-film-2-7.jpg"
      alt=""
      class="w-full aspect-[2/2] object-cover"
    />
  </div>
  <div class="p-3">
    <img
      src="public/agfa-genanvendeligt-kamera-35mm-5.jpg"
      alt=""
      class="w-full aspect-[2/2] object-cover"
    />
  </div>

  <div class="p-3">
    <img
      src="public/amarminoen-med-et-agfa-le-box-12.jpg"
      alt=""
      class="w-full aspect-[2/2] object-cover"
    />
  </div>
  <div class="p-3">
    <img
      src="public/anamorfiske-landskaber-amager-faelled-4.jpg"
      alt=""
      class="w-full aspect-[2/2] object-cover"
    />
  </div>
  <div class="p-3">
    <img
      src="public/foraar-med-et-agfa-lebox-2-20.jpg"
      alt=""
      class="w-full aspect-[2/2] object-cover"
    />
  </div>
  <div class="p-3">
    <img
      src="public/kbh-by-night-3.jpg"
      alt=""
      class="w-full aspect-[2/2] object-cover"
    />
  </div>

  <div class="p-3">
    <img
      src="public/foraar-med-et-agfa-le-box-2021-17.jpg"
      alt=""
      class="w-full aspect-[2/2] object-cover"
    />
  </div>
</section>
