---

---

<section class="py-8 xl:grid grid-cols-3">
  <div class="p-3">
    <img
      src="/public/kobenhavnerbilleder-sten-simons.jpg"
      alt=""
      class="col-span-1"
    />
  </div>
  <div class="p-3">
    <img
      src="/public/kobenhavnerbilleder_oppefra.jpg"
      alt=""
      class="col-span-1"
    />
  </div>
  <div class="p-3">
    <img
      src="/public/kobenhavnerbilleder_aaben_venstre.jpg"
      alt=""
      class="col-span-1"
    />
  </div>
</section>
