---

---

<article class="prose">
  <h2 class="text-4xl">Underviseren</h2>
  <div class="gap-4 grid grid-cols-2">
    <img
      class="w-full aspect-[2/2] object-cover object-[0_-170px]"
      src="/public/sten_simons.jpg"
      alt=""
    />
    <div>
      <p class="">
        Sten Simons har en lang foto-karriere bag sig. Det hele startede i
        00’erne, da han gik rundt i Pisserenden for at fotografere ungdommens
        forfald. Det ledte til en række udstillinger, og blev senere til hans
        først fotobog “Ungdomsdruk - pinlige billeder fra nattelivet.”
      </p>
      <p class="">
        Derefter tog karrieren fart: Han blev fotojournalist og dokumenterede en
        masse dagligdagsstof fra Amager på dagbladet “Amagerkaneren.”
        Sideløbende begyndte han at undervise i foto, og har skrevet et utal af
        bøger, herunder bestsellerne Scener fra S-toget, Brun mad - en visuel
        odysse, og lærebogen Fotografering for evnesvage.
      </p>
      <p>Foto af forfatteren: Se billedet “sten_simons.jpg”</p>
    </div>
  </div>
</article>
