---

---

<article class="pt-4 xl:grid grid-cols-4 gap-10">
  <div class="gap-4 col-start-2 p-3 object-cover">
    <img
      class="w-full aspect-[2/2] object-cover object-[0_-170px]"
      src="/public/sten_simons.jpg"
      alt=""
    />
  </div>
  <div class="gap-10">
    <h2 class="font-bold text-4xl p-3" id="forfatteren">Forfatteren</h2>
    <p class="pb-3">
      Sten Simons har en lang foto-karriere bag sig. Det hele startede i
      00’erne, da han gik rundt i Pisserenden for at fotografere ungdommens
      forfald. Det ledte til en række udstillinger, og blev senere til hans
      først fotobog “Ungdomsdruk - pinlige billeder fra nattelivet.”
    </p>
    <p class="">
      Derefter tog karrieren fart: Han blev fotojournalist og dokumenterede en
      masse dagligdagsstof fra Amager på dagbladet “Amagerkaneren.” Sideløbende
      begyndte han at undervise i foto, og har skrevet et utal af bøger,
      herunder bestsellerne Scener fra S-toget, Brun mad - en visuel odysse, og
      lærebogen Fotografering for evnesvage.
    </p>
    <p class="pb-10">Foto af forfatteren: Se billedet “sten_simons.jpg”</p>
  </div>
</article>
